body {
    background-color: black;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
}

#title {
    display: flex;
    justify-content: flex-start;
}

h1 {
    align-self: flex-start;
    font-size: 1.5em;
    margin: 0;
}

#nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    position: relative;
}
button {
    align-self: flex-start;
    position: absolute;
    left: 0px;
    top: 0px;
}
.navbar ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}
ul li {
    list-style-type: none;
    text-transform: uppercase;
    height: inherit;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0.8em;
    width: 100%;
}
a {
    text-decoration: none;
    width: 100%;
}
header a {
    color: white;
    padding: 1em;
}
header a:hover {
    background-color: green;
    text-decoration: none;
    color: white;
}
.selected {
    color : green;
}

#loupe {
    background-color: green;
    width: auto;
    height: 65%;
    margin: 2px 0 0 -13px;
}
img {
    width: 100%;
}
h2 {
    font-size: 15px;
    text-transform: uppercase;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
}

#radar {
    width: 100%;
}
#white {
    background-color: white;
    color: black;
}
@media screen and (min-width:794px)  {
    header{
        display: flex;
        align-items: center;
    }
    header a:hover {
        background-color: green;
        text-decoration: none;
        color: white;
    }
    h1 {
        display: inline-block;
    }
    section {
        display: flex;
        flex-wrap: wrap;
    }
    #nav {
        display: flex;
        align-items: center;
    }
    #bs-example-navbar-collapse-1 ul {
        margin: 0;
        display: flex;
        align-items: center;
    }
    section article {
        width: 50%;

    }
    header ul {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    header ul li {
        display: inline-block;
        border: none;
    }

}



@media screen and (min-width: 970px)  {
    section {
        display: flex;
    }

    section article {
        flex: 1;
    }

}
