body {
    background-color: black;
    color: white;
}


h1 {
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header ul li {
    display: inline-block;
}
ul li {
    list-style-type: none;
    padding: 0 0.5em;
    text-transform: uppercase;
}

section {
    display: flex;
}

section article {
    
}

img {
    width: 100%;
}
h2 {
    font-size: 15px;
    text-transform: uppercase;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
}

#radar {
    width: 100%;
}
#white {
    background-color: white;
    color: black;
}
