body {
    background-color: black;
    color: white;
}
h1 {
    display: inline-block;
    font-size: 1.5em;
}
header {
    display: flex;
    justify-content: space-between;
}
header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
ul li {
    list-style-type: none;
    text-transform: uppercase;
    height: inherit;
}
a {
    color: white;
    text-decoration: none;
    height: inherit;
    padding: 1em;
    /*padding: inherit;*/
}
a:hover {
    background-color: green;
    text-decoration: none;

}
.selected {
    color : green;
}
.selected:hover {
    color : white;
}
img {
    width: 100%;
}
h2 {
    font-size: 15px;
    text-transform: uppercase;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
}

#radar {
    width: 100%;
}
#white {
    background-color: white;
    color: black;
}
@media screen and (min-width:794px)  {
    section {
        display: flex;
        flex-wrap: wrap;
    }

    section article {
        width: 50%;

    }
    header ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    header ul li {
        display: inline-block;
    }

}



@media screen and (min-width: 970px)  {
    section {
        display: flex;
    }

    section article {
        flex: 1;
    }

}
